<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a style="font-size: 200%" class="navbar-brand" href="/">Gleema Nambiar</a>
  <button class="rightAlign navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="mx-auto">
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <div class="px-4">
          <li class="nav-item dropdown">
            <a style="font-size: 150%" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Music
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/Fan">Fan</a>
              <a class="dropdown-item" href="/Own">Own</a>
            </div>
          </li>
        </div>
        <div class="px-4">
          <li class="nav-item dropdown">
            <a style="font-size: 150%" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Grief
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/TCF">TCF</a>
              <a class="dropdown-item" href="/Addiction">Addiction</a>
            </div>
          </li>
        </div>
        <div class="px-4">
          <li class="nav-item dropdown">
            <a style="font-size: 150%" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Research
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/Nurture">Nuruture Gap</a>
              <a class="dropdown-item" href="#">Other Stuff</a>
            </div>
          </li>
        </div>
        <div class="px-4">
          <li class="nav-item dropdown">
            <a style="font-size: 150%" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Life
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="/Immigrant">Immigrant</a>
              <a class="dropdown-item" href="/Mother">Mother</a>
            </div>
          </li>
        </div>
        <div style="position:absolute; right:0">
          <li>
            <%=logginMessage%>
          </li>
        </div>
      </ul>
    </div>
  </div>
</nav>
