
<%- include('partials/header'); -%>
<% var message = logginMessage%>
<%- include('partials/navbar',{logginMessage:message}); -%>
<h1>This is Gleema's blog</h1>







<%- include('partials/footer'); -%>
