body {
 height: 100%;
 position: relative;
}
html{
  height: 100%;
  position: relative;
}
/* ------------------navbar-styles----------------------- */
.rightAlign{
  position: absolute;
  right: 0;
}
.navItem-Size{
  width: 20%;
  height: 20%;
}
.dropdown-menu {display: block;visibility: hidden;opacity:0;transform: translateY(50px);transition:.5s ease all;}
.dropdown-menu.show {display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.5s ease all;}

/* ------------------post-styles----------------------- */
img{
  margin: 50px 40px 50px 0;
}
p{
  margin: 50px 0 50px 0;
}
.page-container {
 min-height: 100vh; /* will cover the 100% of viewport */
 overflow: hidden;
 display: block;
 position: relative;
}

.layer1{
  background-color: 		#AFEEEE;
  float: left;
}
.layer2{
  background-color: #48D1CC;
  float: left;
}
/* <---------------------footer-styles----------------> */
.footer-class{
  position:absolute;
  bottom: 0;
  left:0;
  right:0;
  margin:auto;
  text-align: center;
  background-color: 	#40E0D0;
}
.form-post{
  display: block;
  text-align: center;
}
/* ------------------loginPage-styles----------------------- */
.center{
  position: absolute;
  left:0;
  right:0;
  top: 20%;
  margin: auto;
}
